<div class="header-section">
    <div class="container">
        <div class="header-main">
    <div class="header-left">
        <span>Header Section</span>
    </div>

    <div class="header-button-grp">
        <div class="btn-group">
            <button type="button" class="btn-primary">Default</button>
            <button type="button" class="btn-primary" (click)="darkMode()">Dark</button>
            <button type="button" class="btn-primary" (click)="lightMode()">Light</button>
          </div>
    </div>
</div>
    </div>

</div>
