<div class="header-section">
    <div class="container">
        <div class="header-main">
    <div class="header-left">
        <span>Header Section</span>
    </div>

    <div class="header-button-grp">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Default</button>
            <button type="button" class="btn btn-primary">Dark</button>
            <button type="button" class="btn btn-primary">Light</button>
          </div>
    </div>
</div>
    </div>

</div>
